<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/jquery/validation/jquery.validate.min.js"></script>
        <script src="~/lib/jquery/validation/unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>*@



    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="card-header  badge-dark">
       
        <div class="row">
            <div class="col-md-2 text-left">
                @Html.ActionLink("Get Employees", "GetEmployees", "Employee")
            </div>
            <div class="col-md-10 text-center">
                Web Api MVC Client Frame Work 4.6.1
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>

     @Scripts.Render("~/bundles/scripts") 

    @RenderSection("Scripts", false)
</body>
</html>
